RewriteBase /10/
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /10/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /10/index.html [L]
</IfModule>