RewriteBase /erp-msar/
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /erp-msar/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /erp-msar/index.html [L]
</IfModule>